/* Padding, margin, etc., order: TOP, RIGHT, BOTTOM, LEFT [clockwise] */


body{
    padding: 0px;
    margin: 0px;
    font-family: 'Titillium Web', sans-serif;
    width: 100%;
    background-image: url(Images/background.png);
    background-size: 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: transparent;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav .logo{
  color: black;
  font-size: 35px;
  font-weight: 600;
  margin-left: 25px;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-right: 25px;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #fff;
  background: #111;
}
nav .menu-btn i{
  color: #111;
  font-size: 22px;
  cursor: point;
  display: none;
}
input[type="checkbox"]{
  display: none;
}

.logoimg{
    height: 25px;
    margin-right: 10px;
}

footer{
    margin-top: auto;
    text-align: center;
    background-color: whitesmoke;
    padding: 10px 450px 10px 450px;
}